
@*view engine:

RAZOR:
Razor = c# converts -> html

@ -> single line c#

@{ 
    -> for razor block (Regular C#)
 }

@ for()
{
}

@ if ()
{
}*@

 

@{
    ViewBag.Title = "MyPage";
}

@*if i donot want to add any shared layout for this specific route*@
@{
    Layout = null;
}


<div>
    <h2>MyPage</h2>
    <p>@ViewBag.name</p>
    <p>@ViewData["id"]</p>

    <table class="table table-bordered">
        <tr>
            <td>Name</td>
            <td>Id</td>
            <td>University</td>
        </tr>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Id</td>
                    <td>@item.university</td>
                </tr>

        }

    </table>

</div>

